body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
.header, .footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.main {
    padding: 20px;
    margin-top: 10px;
}
section {
    margin-bottom: 20px;
}
